body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.status-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

#allocatedSpot {
    margin-top: 20px;
}

#allocatedSpot p {
    font-size: 1.2em;
    margin: 10px 0;
}
